In [ ]:
import requests
import pandas as pd

API_KEY = "71cbe35ff6e0c0df92b72d8a233c40a85de5b0b9"

url = (
    "https://api.census.gov/data/2023/acs/acs1/pums?"
    "get=AGEP,SEX,SCHL,OCCP,INDP,PINCP,RAC3P,WKHP,ESR,STATE"
    f"&for=state:*&key={API_KEY}"
)

# Fetch Data
response = requests.get(url)
print("Status:", response.status_code)
print("Content-Type:", response.headers.get("Content-Type"))

if response.status_code != 200:
    print("Error:", response.text[:500])
    raise SystemExit

data = response.json()

# Convert JSON â†’ DataFrame
columns = data[0]
rows = data[1:]
df = pd.DataFrame(rows, columns=columns)
df.head()

Status: 200
Content-Type: application/json;charset=utf-8

  AGEP SEX SCHL  OCCP  INDP   PINCP RAC3P WKHP ESR STATE state
0   94   2   16     N     N   12200   001    0   6    34    34
1   18   1   19     N     N       0   001    0   6    34    34
2   75   1   21     N     N  108000   029    0   6    08    08
3   44   1   18     N     N       0   002    0   6    12    12
4   31   1   18  4220  7580    5200   002   20   6    39    39

In [2]:
df.to_parquet("acs_pums_2023.parquet", index=False)